In [69]:
from pandas import read_json

df = read_json('/workspaces/eargweth/NoSQL Database Folder/products.json')

In [70]:
display(df)

    _id  ... discontinued
0    p0  ...          NaN
1    p1  ...          NaN
2    p2  ...          NaN
3    p3  ...          NaN
4    p4  ...          NaN
5    p5  ...          NaN
6    p6  ...          1.0
7    p7  ...          NaN
8    p8  ...          NaN
9    p9  ...          NaN
10  p10  ...          1.0
11  p11  ...          1.0
12  p12  ...          NaN
13  p13  ...          1.0
14  p14  ...          NaN

[15 rows x 6 columns]

In [71]:
column = df['tags']

display(column)

from pandas import DataFrame

column = list(column)

flattened_subframe = DataFrame(column)




display(flattened_subframe)

0            [sale, limited, eco]
1          [eco, bestseller, new]
2                              []
3                  [new, limited]
4                              []
5              [bestseller, sale]
6                     [new, sale]
7                     [sale, eco]
8                    [bestseller]
9              [bestseller, sale]
10                          [new]
11                   [bestseller]
12    [limited, sale, bestseller]
13          [bestseller, limited]
14                   [bestseller]
Name: tags, dtype: object

             0           1           2
0         sale     limited         eco
1          eco  bestseller         new
2         None        None        None
3          new     limited        None
4         None        None        None
5   bestseller        sale        None
6          new        sale        None
7         sale         eco        None
8   bestseller        None        None
9   bestseller        sale        None
10         new        None        None
11  bestseller        None        None
12     limited        sale  bestseller
13  bestseller     limited        None
14  bestseller        None        None

In [72]:
original_name = 'tags'

display(flattened_subframe)

for index in flattened_subframe.columns:

    new_name = f'{original_name} {index}'

    flattened_subframe[new_name] = flattened_subframe[index]

    display(flattened_subframe)

    flattened_subframe = flattened_subframe.drop(columns = index)

    display(flattened_subframe)



# display(flattened_subframe)

             0           1           2
0         sale     limited         eco
1          eco  bestseller         new
2         None        None        None
3          new     limited        None
4         None        None        None
5   bestseller        sale        None
6          new        sale        None
7         sale         eco        None
8   bestseller        None        None
9   bestseller        sale        None
10         new        None        None
11  bestseller        None        None
12     limited        sale  bestseller
13  bestseller     limited        None
14  bestseller        None        None

             0           1           2      tags 0
0         sale     limited         eco        sale
1          eco  bestseller         new         eco
2         None        None        None        None
3          new     limited        None         new
4         None        None        None        None
5   bestseller        sale        None  bestseller
6          new        sale        None         new
7         sale         eco        None        sale
8   bestseller        None        None  bestseller
9   bestseller        sale        None  bestseller
10         new        None        None         new
11  bestseller        None        None  bestseller
12     limited        sale  bestseller     limited
13  bestseller     limited        None  bestseller
14  bestseller        None        None  bestseller

             1           2      tags 0
0      limited         eco        sale
1   bestseller         new         eco
2         None        None        None
3      limited        None         new
4         None        None        None
5         sale        None  bestseller
6         sale        None         new
7          eco        None        sale
8         None        None  bestseller
9         sale        None  bestseller
10        None        None         new
11        None        None  bestseller
12        sale  bestseller     limited
13     limited        None  bestseller
14        None        None  bestseller

             1           2      tags 0      tags 1
0      limited         eco        sale     limited
1   bestseller         new         eco  bestseller
2         None        None        None        None
3      limited        None         new     limited
4         None        None        None        None
5         sale        None  bestseller        sale
6         sale        None         new        sale
7          eco        None        sale         eco
8         None        None  bestseller        None
9         sale        None  bestseller        sale
10        None        None         new        None
11        None        None  bestseller        None
12        sale  bestseller     limited        sale
13     limited        None  bestseller     limited
14        None        None  bestseller        None

             2      tags 0      tags 1
0          eco        sale     limited
1          new         eco  bestseller
2         None        None        None
3         None         new     limited
4         None        None        None
5         None  bestseller        sale
6         None         new        sale
7         None        sale         eco
8         None  bestseller        None
9         None  bestseller        sale
10        None         new        None
11        None  bestseller        None
12  bestseller     limited        sale
13        None  bestseller     limited
14        None  bestseller        None

             2      tags 0      tags 1      tags 2
0          eco        sale     limited         eco
1          new         eco  bestseller         new
2         None        None        None        None
3         None         new     limited        None
4         None        None        None        None
5         None  bestseller        sale        None
6         None         new        sale        None
7         None        sale         eco        None
8         None  bestseller        None        None
9         None  bestseller        sale        None
10        None         new        None        None
11        None  bestseller        None        None
12  bestseller     limited        sale  bestseller
13        None  bestseller     limited        None
14        None  bestseller        None        None

        tags 0      tags 1      tags 2
0         sale     limited         eco
1          eco  bestseller         new
2         None        None        None
3          new     limited        None
4         None        None        None
5   bestseller        sale        None
6          new        sale        None
7         sale         eco        None
8   bestseller        None        None
9   bestseller        sale        None
10         new        None        None
11  bestseller        None        None
12     limited        sale  bestseller
13  bestseller     limited        None
14  bestseller        None        None

In [73]:
display(flattened_subframe)

        tags 0      tags 1      tags 2
0         sale     limited         eco
1          eco  bestseller         new
2         None        None        None
3          new     limited        None
4         None        None        None
5   bestseller        sale        None
6          new        sale        None
7         sale         eco        None
8   bestseller        None        None
9   bestseller        sale        None
10         new        None        None
11  bestseller        None        None
12     limited        sale  bestseller
13  bestseller     limited        None
14  bestseller        None        None

In [74]:
display(df)

    _id  ... discontinued
0    p0  ...          NaN
1    p1  ...          NaN
2    p2  ...          NaN
3    p3  ...          NaN
4    p4  ...          NaN
5    p5  ...          NaN
6    p6  ...          1.0
7    p7  ...          NaN
8    p8  ...          NaN
9    p9  ...          NaN
10  p10  ...          1.0
11  p11  ...          1.0
12  p12  ...          NaN
13  p13  ...          1.0
14  p14  ...          NaN

[15 rows x 6 columns]

In [75]:
new_columns = flattened_subframe.columns
df[new_columns] = flattened_subframe

display(df)

    _id  ...      tags 2
0    p0  ...         eco
1    p1  ...         new
2    p2  ...        None
3    p3  ...        None
4    p4  ...        None
5    p5  ...        None
6    p6  ...        None
7    p7  ...        None
8    p8  ...        None
9    p9  ...        None
10  p10  ...        None
11  p11  ...        None
12  p12  ...  bestseller
13  p13  ...        None
14  p14  ...        None

[15 rows x 9 columns]

In [76]:
df = df.drop(columns = 'tags')

display(df)

    _id  ...      tags 2
0    p0  ...         eco
1    p1  ...         new
2    p2  ...        None
3    p3  ...        None
4    p4  ...        None
5    p5  ...        None
6    p6  ...        None
7    p7  ...        None
8    p8  ...        None
9    p9  ...        None
10  p10  ...        None
11  p11  ...        None
12  p12  ...  bestseller
13  p13  ...        None
14  p14  ...        None

[15 rows x 8 columns]