In [2]:
from pandas import read_json

df = read_json('/workspaces/eargweth/NoSQL Database Folder/products.json')

In [3]:
display(df)

,_id,name,price,category,tags,discontinued
0,p0,Total systemic project,131.73,Toys,"[sale, limited, eco]",NaN
1,p1,Compatible real-time productivity,174.51,Outdoors,"[eco, bestseller, new]",NaN
2,p2,Down-sized national superstructure,153.88,Electronics,[],NaN
3,p3,Fully-configurable cohesive Local Area Network,75.00,Books,"[new, limited]",NaN
4,p4,Multi-tiered encompassing productivity,194.76,Home,[],NaN
5,p5,Team-oriented next generation definition,166.73,Toys,"[bestseller, sale]",NaN
6,p6,Synergized fresh-thinking throughput,13.94,Outdoors,"[new, sale]",1.0
7,p7,Vision-oriented analyzing emulation,79.12,Home,"[sale, eco]",NaN
8,p8,Automated foreground initiative,135.68,Electronics,[bestseller],NaN
9,p9,Future-proofed asymmetric data-warehouse,36.86,Home,"[bestseller, sale]",NaN
10,p10,Re-contextualized transitional functionalities,169.36,Electronics,[new],1.0
11,p11,Extended solution-oriented methodology,83.23,Electronics,[bestseller],1.0
12,p12,Object-based secondary knowledgebase,66.36,Home,"[limited, sale, bestseller]",NaN
13,p13,Digitized empowering challenge,150.27,Toys,"[bestseller, limited]",1.0
14,p14,Fully-configurable value-added open architecture,82.88,Outdoors,[bestseller],NaN

In [4]:
column = df['tags']

display(column)

from pandas import DataFrame

column = list(column)

flattened_subframe = DataFrame(column)




display(flattened_subframe)

0            [sale, limited, eco]
1          [eco, bestseller, new]
2                              []
3                  [new, limited]
4                              []
5              [bestseller, sale]
6                     [new, sale]
7                     [sale, eco]
8                    [bestseller]
9              [bestseller, sale]
10                          [new]
11                   [bestseller]
12    [limited, sale, bestseller]
13          [bestseller, limited]
14                   [bestseller]
Name: tags, dtype: object

             0           1           2
0         sale     limited         eco
1          eco  bestseller         new
2         None        None        None
3          new     limited        None
4         None        None        None
5   bestseller        sale        None
6          new        sale        None
7         sale         eco        None
8   bestseller        None        None
9   bestseller        sale        None
10         new        None        None
11  bestseller        None        None
12     limited        sale  bestseller
13  bestseller     limited        None
14  bestseller        None        None

In [5]:
original_name = 'tags'

display(flattened_subframe)

for index in flattened_subframe.columns:

    new_name = f'{original_name} {index}'

    flattened_subframe[new_name] = flattened_subframe[index]

    display(flattened_subframe)

    flattened_subframe = flattened_subframe.drop(columns = index)

    display(flattened_subframe)



# display(flattened_subframe)

             0           1           2
0         sale     limited         eco
1          eco  bestseller         new
2         None        None        None
3          new     limited        None
4         None        None        None
5   bestseller        sale        None
6          new        sale        None
7         sale         eco        None
8   bestseller        None        None
9   bestseller        sale        None
10         new        None        None
11  bestseller        None        None
12     limited        sale  bestseller
13  bestseller     limited        None
14  bestseller        None        None

             0           1           2      tags 0
0         sale     limited         eco        sale
1          eco  bestseller         new         eco
2         None        None        None        None
3          new     limited        None         new
4         None        None        None        None
5   bestseller        sale        None  bestseller
6          new        sale        None         new
7         sale         eco        None        sale
8   bestseller        None        None  bestseller
9   bestseller        sale        None  bestseller
10         new        None        None         new
11  bestseller        None        None  bestseller
12     limited        sale  bestseller     limited
13  bestseller     limited        None  bestseller
14  bestseller        None        None  bestseller

             1           2      tags 0
0      limited         eco        sale
1   bestseller         new         eco
2         None        None        None
3      limited        None         new
4         None        None        None
5         sale        None  bestseller
6         sale        None         new
7          eco        None        sale
8         None        None  bestseller
9         sale        None  bestseller
10        None        None         new
11        None        None  bestseller
12        sale  bestseller     limited
13     limited        None  bestseller
14        None        None  bestseller

             1           2      tags 0      tags 1
0      limited         eco        sale     limited
1   bestseller         new         eco  bestseller
2         None        None        None        None
3      limited        None         new     limited
4         None        None        None        None
5         sale        None  bestseller        sale
6         sale        None         new        sale
7          eco        None        sale         eco
8         None        None  bestseller        None
9         sale        None  bestseller        sale
10        None        None         new        None
11        None        None  bestseller        None
12        sale  bestseller     limited        sale
13     limited        None  bestseller     limited
14        None        None  bestseller        None

             2      tags 0      tags 1
0          eco        sale     limited
1          new         eco  bestseller
2         None        None        None
3         None         new     limited
4         None        None        None
5         None  bestseller        sale
6         None         new        sale
7         None        sale         eco
8         None  bestseller        None
9         None  bestseller        sale
10        None         new        None
11        None  bestseller        None
12  bestseller     limited        sale
13        None  bestseller     limited
14        None  bestseller        None

             2      tags 0      tags 1      tags 2
0          eco        sale     limited         eco
1          new         eco  bestseller         new
2         None        None        None        None
3         None         new     limited        None
4         None        None        None        None
5         None  bestseller        sale        None
6         None         new        sale        None
7         None        sale         eco        None
8         None  bestseller        None        None
9         None  bestseller        sale        None
10        None         new        None        None
11        None  bestseller        None        None
12  bestseller     limited        sale  bestseller
13        None  bestseller     limited        None
14        None  bestseller        None        None

        tags 0      tags 1      tags 2
0         sale     limited         eco
1          eco  bestseller         new
2         None        None        None
3          new     limited        None
4         None        None        None
5   bestseller        sale        None
6          new        sale        None
7         sale         eco        None
8   bestseller        None        None
9   bestseller        sale        None
10         new        None        None
11  bestseller        None        None
12     limited        sale  bestseller
13  bestseller     limited        None
14  bestseller        None        None

In [6]:
display(flattened_subframe)

        tags 0      tags 1      tags 2
0         sale     limited         eco
1          eco  bestseller         new
2         None        None        None
3          new     limited        None
4         None        None        None
5   bestseller        sale        None
6          new        sale        None
7         sale         eco        None
8   bestseller        None        None
9   bestseller        sale        None
10         new        None        None
11  bestseller        None        None
12     limited        sale  bestseller
13  bestseller     limited        None
14  bestseller        None        None

In [7]:
display(df)

,_id,name,price,category,tags,discontinued
0,p0,Total systemic project,131.73,Toys,"[sale, limited, eco]",NaN
1,p1,Compatible real-time productivity,174.51,Outdoors,"[eco, bestseller, new]",NaN
2,p2,Down-sized national superstructure,153.88,Electronics,[],NaN
3,p3,Fully-configurable cohesive Local Area Network,75.00,Books,"[new, limited]",NaN
4,p4,Multi-tiered encompassing productivity,194.76,Home,[],NaN
5,p5,Team-oriented next generation definition,166.73,Toys,"[bestseller, sale]",NaN
6,p6,Synergized fresh-thinking throughput,13.94,Outdoors,"[new, sale]",1.0
7,p7,Vision-oriented analyzing emulation,79.12,Home,"[sale, eco]",NaN
8,p8,Automated foreground initiative,135.68,Electronics,[bestseller],NaN
9,p9,Future-proofed asymmetric data-warehouse,36.86,Home,"[bestseller, sale]",NaN
10,p10,Re-contextualized transitional functionalities,169.36,Electronics,[new],1.0
11,p11,Extended solution-oriented methodology,83.23,Electronics,[bestseller],1.0
12,p12,Object-based secondary knowledgebase,66.36,Home,"[limited, sale, bestseller]",NaN
13,p13,Digitized empowering challenge,150.27,Toys,"[bestseller, limited]",1.0
14,p14,Fully-configurable value-added open architecture,82.88,Outdoors,[bestseller],NaN

In [8]:
"empty" #- explict category
"None"
"Null" #string
"discontinued"

'discontinued'

In [9]:
display(flattened_subframe)

new_column_names = flattened_subframe.columns

display(new_column_names)

df[new_column_names] = flattened_subframe

display(df)

        tags 0      tags 1      tags 2
0         sale     limited         eco
1          eco  bestseller         new
2         None        None        None
3          new     limited        None
4         None        None        None
5   bestseller        sale        None
6          new        sale        None
7         sale         eco        None
8   bestseller        None        None
9   bestseller        sale        None
10         new        None        None
11  bestseller        None        None
12     limited        sale  bestseller
13  bestseller     limited        None
14  bestseller        None        None

Index(['tags 0', 'tags 1', 'tags 2'], dtype='object')

,_id,name,price,category,tags,discontinued,tags 0,tags 1,tags 2
0,p0,Total systemic project,131.73,Toys,"[sale, limited, eco]",NaN,sale,limited,eco
1,p1,Compatible real-time productivity,174.51,Outdoors,"[eco, bestseller, new]",NaN,eco,bestseller,new
2,p2,Down-sized national superstructure,153.88,Electronics,[],NaN,None,None,None
3,p3,Fully-configurable cohesive Local Area Network,75.00,Books,"[new, limited]",NaN,new,limited,None
4,p4,Multi-tiered encompassing productivity,194.76,Home,[],NaN,None,None,None
5,p5,Team-oriented next generation definition,166.73,Toys,"[bestseller, sale]",NaN,bestseller,sale,None
6,p6,Synergized fresh-thinking throughput,13.94,Outdoors,"[new, sale]",1.0,new,sale,None
7,p7,Vision-oriented analyzing emulation,79.12,Home,"[sale, eco]",NaN,sale,eco,None
8,p8,Automated foreground initiative,135.68,Electronics,[bestseller],NaN,bestseller,None,None
9,p9,Future-proofed asymmetric data-warehouse,36.86,Home,"[bestseller, sale]",NaN,bestseller,sale,None
10,p10,Re-contextualized transitional functionalities,169.36,Electronics,[new],1.0,new,None,None
11,p11,Extended solution-oriented methodology,83.23,Electronics,[bestseller],1.0,bestseller,None,None
12,p12,Object-based secondary knowledgebase,66.36,Home,"[limited, sale, bestseller]",NaN,limited,sale,bestseller
13,p13,Digitized empowering challenge,150.27,Toys,"[bestseller, limited]",1.0,bestseller,limited,None
14,p14,Fully-configurable value-added open architecture,82.88,Outdoors,[bestseller],NaN,bestseller,None,None

In [10]:
df = df.drop(columns = 'tags')

display(df)

,_id,name,price,category,discontinued,tags 0,tags 1,tags 2
0,p0,Total systemic project,131.73,Toys,NaN,sale,limited,eco
1,p1,Compatible real-time productivity,174.51,Outdoors,NaN,eco,bestseller,new
2,p2,Down-sized national superstructure,153.88,Electronics,NaN,None,None,None
3,p3,Fully-configurable cohesive Local Area Network,75.00,Books,NaN,new,limited,None
4,p4,Multi-tiered encompassing productivity,194.76,Home,NaN,None,None,None
5,p5,Team-oriented next generation definition,166.73,Toys,NaN,bestseller,sale,None
6,p6,Synergized fresh-thinking throughput,13.94,Outdoors,1.0,new,sale,None
7,p7,Vision-oriented analyzing emulation,79.12,Home,NaN,sale,eco,None
8,p8,Automated foreground initiative,135.68,Electronics,NaN,bestseller,None,None
9,p9,Future-proofed asymmetric data-warehouse,36.86,Home,NaN,bestseller,sale,None
10,p10,Re-contextualized transitional functionalities,169.36,Electronics,1.0,new,None,None
11,p11,Extended solution-oriented methodology,83.23,Electronics,1.0,bestseller,None,None
12,p12,Object-based secondary knowledgebase,66.36,Home,NaN,limited,sale,bestseller
13,p13,Digitized empowering challenge,150.27,Toys,1.0,bestseller,limited,None
14,p14,Fully-configurable value-added open architecture,82.88,Outdoors,NaN,bestseller,None,None

In [11]:
my_value = 3



if my_value == 3:
    print("Value is 3")

# my_value  3

Value is 3

In [12]:
# condition_series = (df['tags 0'] >= 100)

In [13]:
price_column = df['price']

price_column[3] = None

df['price'] = price_column

df

/tmp/ipykernel_11512/2490928574.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_column[3] = None

,_id,name,price,category,discontinued,tags 0,tags 1,tags 2
0,p0,Total systemic project,131.73,Toys,NaN,sale,limited,eco
1,p1,Compatible real-time productivity,174.51,Outdoors,NaN,eco,bestseller,new
2,p2,Down-sized national superstructure,153.88,Electronics,NaN,None,None,None
3,p3,Fully-configurable cohesive Local Area Network,NaN,Books,NaN,new,limited,None
4,p4,Multi-tiered encompassing productivity,194.76,Home,NaN,None,None,None
5,p5,Team-oriented next generation definition,166.73,Toys,NaN,bestseller,sale,None
6,p6,Synergized fresh-thinking throughput,13.94,Outdoors,1.0,new,sale,None
7,p7,Vision-oriented analyzing emulation,79.12,Home,NaN,sale,eco,None
8,p8,Automated foreground initiative,135.68,Electronics,NaN,bestseller,None,None
9,p9,Future-proofed asymmetric data-warehouse,36.86,Home,NaN,bestseller,sale,None
10,p10,Re-contextualized transitional functionalities,169.36,Electronics,1.0,new,None,None
11,p11,Extended solution-oriented methodology,83.23,Electronics,1.0,bestseller,None,None
12,p12,Object-based secondary knowledgebase,66.36,Home,NaN,limited,sale,bestseller
13,p13,Digitized empowering challenge,150.27,Toys,1.0,bestseller,limited,None
14,p14,Fully-configurable value-added open architecture,82.88,Outdoors,NaN,bestseller,None,None

In [14]:
my_column = df['price']

condition_series = my_column.isnull()

display(condition_series)

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: price, dtype: bool

In [15]:
df[condition_series]

,_id,name,price,category,discontinued,tags 0,tags 1,tags 2
3,p3,Fully-configurable cohesive Local Area Network,NaN,Books,NaN,new,limited,None

In [16]:
display(df)

,_id,name,price,category,discontinued,tags 0,tags 1,tags 2
0,p0,Total systemic project,131.73,Toys,NaN,sale,limited,eco
1,p1,Compatible real-time productivity,174.51,Outdoors,NaN,eco,bestseller,new
2,p2,Down-sized national superstructure,153.88,Electronics,NaN,None,None,None
3,p3,Fully-configurable cohesive Local Area Network,NaN,Books,NaN,new,limited,None
4,p4,Multi-tiered encompassing productivity,194.76,Home,NaN,None,None,None
5,p5,Team-oriented next generation definition,166.73,Toys,NaN,bestseller,sale,None
6,p6,Synergized fresh-thinking throughput,13.94,Outdoors,1.0,new,sale,None
7,p7,Vision-oriented analyzing emulation,79.12,Home,NaN,sale,eco,None
8,p8,Automated foreground initiative,135.68,Electronics,NaN,bestseller,None,None
9,p9,Future-proofed asymmetric data-warehouse,36.86,Home,NaN,bestseller,sale,None
10,p10,Re-contextualized transitional functionalities,169.36,Electronics,1.0,new,None,None
11,p11,Extended solution-oriented methodology,83.23,Electronics,1.0,bestseller,None,None
12,p12,Object-based secondary knowledgebase,66.36,Home,NaN,limited,sale,bestseller
13,p13,Digitized empowering challenge,150.27,Toys,1.0,bestseller,limited,None
14,p14,Fully-configurable value-added open architecture,82.88,Outdoors,NaN,bestseller,None,None

In [17]:
# specify the name of the column that we are cleaning
column_name = 'discontinued'

In [18]:
# extract the column from the DataFrame
column = df[column_name]

display(column)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     1.0
7     NaN
8     NaN
9     NaN
10    1.0
11    1.0
12    NaN
13    1.0
14    NaN
Name: discontinued, dtype: float64

In [19]:
# define the new value to fill NaN entries
new_value = 0

In [20]:

# fill NaN entries with the new value 
# and then replace the old column object
updated_column = column.fillna(new_value)

display(updated_column)

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     1.0
7     0.0
8     0.0
9     0.0
10    1.0
11    1.0
12    0.0
13    1.0
14    0.0
Name: discontinued, dtype: float64

In [21]:
# replace the old column in the DataFrame with the updated one
df[column_name] = updated_column

# display it
display(df)

,_id,name,price,category,discontinued,tags 0,tags 1,tags 2
0,p0,Total systemic project,131.73,Toys,0.0,sale,limited,eco
1,p1,Compatible real-time productivity,174.51,Outdoors,0.0,eco,bestseller,new
2,p2,Down-sized national superstructure,153.88,Electronics,0.0,None,None,None
3,p3,Fully-configurable cohesive Local Area Network,NaN,Books,0.0,new,limited,None
4,p4,Multi-tiered encompassing productivity,194.76,Home,0.0,None,None,None
5,p5,Team-oriented next generation definition,166.73,Toys,0.0,bestseller,sale,None
6,p6,Synergized fresh-thinking throughput,13.94,Outdoors,1.0,new,sale,None
7,p7,Vision-oriented analyzing emulation,79.12,Home,0.0,sale,eco,None
8,p8,Automated foreground initiative,135.68,Electronics,0.0,bestseller,None,None
9,p9,Future-proofed asymmetric data-warehouse,36.86,Home,0.0,bestseller,sale,None
10,p10,Re-contextualized transitional functionalities,169.36,Electronics,1.0,new,None,None
11,p11,Extended solution-oriented methodology,83.23,Electronics,1.0,bestseller,None,None
12,p12,Object-based secondary knowledgebase,66.36,Home,0.0,limited,sale,bestseller
13,p13,Digitized empowering challenge,150.27,Toys,1.0,bestseller,limited,None
14,p14,Fully-configurable value-added open architecture,82.88,Outdoors,0.0,bestseller,None,None